 h4, h1,h3 {
    text-align: center;
    font-style:italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
 }
 body {
     background-image: url('https://cdn.wallpapersafari.com/35/84/wjyVWK.jpg');
     background-size: cover;
     background-position: center;
     background-attachment: fixed;
     color: black solid bold;
     font-weight: bold;
     font-style: italic;
     font-family: Georgia, 'Times New Roman', Times, serif;
     background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(5px);
   text-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    padding: 20px;
 }
.content {
    background-color: rgba(255, 255, 255, 0);
    padding: 2px;
    border-radius: 25px;
    margin: 20px;
}
    
label {
    font-weight: bold;
    color: black;
}
.container {
    background-color: rgba(255, 255, 255, 0);
    padding: 10px;
    border-radius: 10px;
    max-width: 1200px;
}
.container-1 {
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(5px);
   text-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    padding: 10px;
}   
nav {
    background-color: lightgrey !important;   /* or any color you want */
}
nav ul li a {
    color: black !important;              /* change link color */
}
.card {
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    border-radius: 6px;
    padding: 10px;
    background-color: lightgrey;
    margin: 0px;
}
p1 {
    font-size: 18px;
    line-height: 1.6;
    color: black;
}
container-2 {
    background-color: lightgrey;
}
